<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Alceu W. V. Lima Jr</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style-index.css">
        <link rel="stylesheet" href="../static/quem-somos.css">
	</head>

    <body>
      <header>
        <div class="container">
          <div class="row">
            <div class="col-3 align-self-end">
              <img class="container logo" src="../img/jordan.png">
            </div>
            <div class="col-9 align-self-end">
              <nav id="barra-nav">
                <button class="item-nav btn btn-light">
                  <a href="index.html">Home</a>
                </button>
                <button class="item-nav btn btn-light">
                  <a href="quemsomos.html">Saiba Mais</a>
                </button>
              </nav>
            </div>
          </div>
        </div>
        </header>



        <section class ="container corpo-quemsomos">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-3">
                <p>Este site é um portfólio de <strong>HTML</strong>, <strong>CSS</strong> e <strong>JavaScrip</strong> de Alceu Wanderlei Valim de Lima Junior</p>
                <p></p>
                <a href = "https://www.linkedin.com/in/alceu-wanderlei-valim-de-lima-junior-549520206/">Conhaça me no Linkedin</a>
                <br></br>
                <a href = "https://www.linkedin.com/in/alceu-wanderlei-valim-de-lima-junior-549520206/">Veja meu Curriculo!</a>
              </div>
              <div class="col-3 justify-content-end">
                <img class="col-12 foto-rosto" src="../img/linkedin.JPG">
          </div>
        </section>


        <section class="corpo-quemsomos-texto container">
            <p id ="texto-curriculo" class = "container">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.
            </p>
        </section>
        
          
        <section class ="container form-contato">
          <p class = "container">Entre em contato!</p>
          <form class="form-floating">

            <textarea class="form-control" placeholder="Deixe um recado!" id="area-recado" style="height: 100px"></textarea>
            <label for="area recado">Deixe uma mensagem!</label>

            <input type="email" class="form-control" id="email-recado" placeholder="Seu e-mail aqui" value="Seu e-mail aqui">
            <label for="email-recado">Input with value</label>

            <button type="submit" id="botao-recado" class="btn btn-primary mb-3">Salvar</button>
          </form>
        </section>

        <footer>
            <img class ="container" src="../img/jordan.png">
            <p class="copyright">&copy; Alceu W. V. Lima Jr - 2021</p>
        </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      <script type="text/javascript" src="../static/quemsomos.js"></script>
      <script type="text/javascript" src="../static/animacoes.js"></script>
    </body>  
</html>